body{
    font-family: 'Poppins',sans-serif !important;
}
ul{
    margin-bottom: 0 !important;
}
// Navigation styles
.nav-toggler{
    display: block;
}
#nav-open-btn,#nav-close-btn{
    cursor: pointer;
}
nav{
    position: fixed;
    display: none;
    width: 60%;
    background-color: rgb(226, 226, 226);
    height: 100vh;
    z-index: 999;
    right:0;
    top: 0;
    i{
        position: relative;
        float:right;
        margin-top: 1em;
        margin-right: 1em;
        border: 1px solid black;
        padding: .3em .4em;
        color: black;
    }
    ul.primary-nav{
        padding: 7em 2em;
        
        li{
            display: block;
            margin: 1em;
            // padding: .2em;
            border-left: 5px solid transparent;
            a{
                text-decoration: none;
                color: rgb(17, 10, 10);
                padding-left: .4em;
            }
            &:hover{
                font-weight: 600;
                border-left: 5px solid #EFC900;
            }
        }
    }
    ul.secondary-nav{
        text-align: center;
        .btn-normal{
            border-radius: 10px;
        }
        .btn-cta{
            background-color: #EFC900;
            border: none;
            border-radius: 10px;
            font-weight: 500;
        }
    }
}
// Hero section styles
.text-content{
    background: url('../images/hero-bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    color: white;
    width: 100%;
    .hero-title{
        text-align: center;
        width: 60%;   
    }
    .hero-subtitle{ 
        text-align: center;
        width: 60%;
    }
}
.white-space{
    background-color: white;
    height:50vh;
}
// Buy NOW CARD STYLES
.buy-now-card{
    position: absolute;
    width: 90%;
    max-width: 950px;
    height: auto;
    padding-bottom: 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    
    .buy-now-wrapper, .sell-now-wrapper, .gift-now-wrapper, .sip-now-wrapper, .jewellery-now-wrapper, .loan-now-wrapper{
        border-radius: 0 0 10px 10px ;
        box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.15);
        
        background-color: white;
    }
    .buy-now, .sell-now, .gift-now, .sip-now, .jewellery-now, .loan-now{
        width: 100%;
        .buy-now-mode, .sell-now-mode, .gift-now-mode, .sip-now-mode{
            font-size: .8em;
        }
        
        .buy-now-amount-suggestions, .sell-now-amount-suggestions, .gift-now-amount-suggestions, .sip-now-amount-suggestions{
            li{
                cursor: pointer;
                font-size:.8em;
            }
        }
    }
    .chart{
        padding: 3em 1em;
        width: 50%;
        .chart-wrapper{
            height: 100% ;
        }
    }
}

#buy-now-btn, #sell-now-btn, #gift-now-btn, #sip-now-btn, #jewellery-now-btn, #loan-now-btn{
    background-color: #FFD600;
    border-radius: 8px;
    padding: 8px 4px;
    margin-bottom: 1em;
}

.custom-nav-link{
    border: none;
    padding: .6em 1em;
    background-color: transparent;
}
.nav-link{
    color: black !important;
}
.nav-link.active{
    color: white !important;
    background-color: #6510A5 !important;
}

#tab-nav-wrapper{
    // background: rgba(255, 255, 255, 0.69);
    // backdrop-filter: blur(15px);
    //  border-radius: 10px;
    //  padding:.5em 1em ;
    background-color: rgb(238, 238, 238);
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    box-shadow: 0px 0px -20px 9px rgba(0, 0, 0, 0.15);
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}


// *************
// Trust and offers section
// *************
section.swarna-trust{
    padding: 2em 1em;
    background-color: #F6F7FB;
    .trust{
        .trust-logo {
            max-width: 214px;
            height: 91px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .trust-text{
            color: #A873D1;
            font-size: 1em;
            font-weight: 500;
            max-width: 500px;
        }
    }
}
// ***************
// Latest Offers
// *************
.latest-offers{
    background-color: #F6F7FB;
    .offers{
        
        .offers-list{
            margin-top: 1.2em;
            overflow: auto;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            
            img{
                padding: 1em;
                width: 100%;
                max-width: 400px;
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .offers-indicators{
            text-align: center;
            span{
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 0 .2em;
                background-color: #bdbdbd;
                border-radius: 50%;

                &:nth-child(1){
                    background-color: #2f2f2f;
                }
            }
        }
        
    }
}   
// ***************
// How to section
// ***************
section.how-to{
    position: relative;
    
    .how-to-text{
        text-align: center;
        padding: 1em;
        margin: 1.5em 2em;
    }
    .how-to-process{
        margin: 3em 1em;
        max-width: 600px;
        .how-to-tabs{
            font-size: .9em;
            background-color: #F6F7FB;
            border-radius: 10px;
            li{
                cursor: pointer;
                
            }
        }
        .how-to-steps{
            margin: 2em 2em 2em auto ;
            width:70%;
            .step{
                position: relative;
                img{
                    max-width: 47px;
                }
                &:nth-child(1)::after,&:nth-child(2)::after{
                    content: url('../images/line.png');
                    position: absolute;
                    left: 16%;
                    top: 3em;
                }
                    
            }
        }
        img{
            width: 50%;
            max-width: 210px;
            height: auto;
        }
    }
}
// ***************
// Protection Section
// ***************
section.protection{
    padding: 3em 0em;
    .protection-header{
        text-align: center;
        padding: 1em;
        margin: 3em auto;
    }
    .protection-features{
        padding: 3em 4em;
    }
    .feature{
        font-size: 20px;
        max-width: 325px;
        padding: 1em;
        img{
            width: 50%;
            max-width: 50px;
            margin: .5em;
        }
    }
    .feature-1 >span{
        font-weight: 500;
        color: #6510A5;
    }
    .feature-2 >span{
        font-weight: 500;
        color: #E3513E;
    }
    .feature-3 >span{
        font-weight: 500;
        color: #EFC900;
    }
    .feature-4 >span{
        font-weight: 500;
        color: #F55D82;
    }
    .feature-5 >span{
        font-weight: 500;
        color: #3FADA7;
    }
}

// *******************
// Now its time Section
// ********************
section.now-its-time{
    background: url('../images/now-its-time-background.png');
    height: 60vh;
    padding: 3em 1.5em;
    display: flex;
    align-items: center;
    background-size: contain;
    /* background-repeat: no-repeat; */
    .macbook-image img{
        width: 100%;
        min-width: 300px;
        max-width: 450px;
        padding-left: 18px;
    }
    .text{
        width: 100%;
        max-width: 432px;
    }
}

// ************************
// Start Investing Section
// ************************
section.start-investing{
    padding: 3em 1.5em;
    background-color: #F6F7FB;
    .testimonials{
        
        width: 100%;
        padding: 1em;
        overflow-x: scroll;
        background-color: #F6F7FB;
        &::-webkit-scrollbar{
            display: none;
        }
        .testimonial-card{
            display: inline-block;
            width: 100%;
            min-width: 346px;
            height: fit-content;
            background-color: white;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding: 1em;
        .customer-image-wrapper{
            
            img{
                max-width: 68px;
            }
        }
        .customer-review{
            max-width: 70%;
        }
    }
    }
    .btn-cta{
        background-color: #EFC900;
        border: none;
        border-radius: 10px;
        font-weight: 500;
    }
    
}

// ****************
// Footer Section
// *****************
footer.footer{
    padding: 2em 1.4em;
    background-color: #434A54;
    .footer-logo-wrapper{
        width: 100%;
        img{
            max-width: 180px;
        }
    }
    .footer-links-wrapper{
        min-width: 380px;
        li{
            margin: 1em 0;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .footer-social-icons{
        width: 100%;
        
        img{
            max-width: 32px;
        }
    }
    .footer-trustee-idbi{
        color: white;
        img{
            width: 100%;
            max-width: 150px;
        }
    }
    .footer-augmont{
        color: white;
        img{
            width: 100%;
            max-width: 150px;
        }
    }
    p{
        color: white;
    }
}
// *******
// Media Queries
// *****
@media (min-width:990px){
    nav{
        position: unset;
        width: 80%;
        height: auto;
        background-color: transparent;
        z-index: 0;
        font-size: 0.8em;
        ul.primary-nav{
            padding: unset;
            li{
                margin: 0em 1.2em;
                border-bottom: 5px solid transparent;
                border-left: none;
                &:hover{
                    border-left: none;
                    border-bottom: 5px solid #EFC900;
                }
            }
        }
        ul.secondary-nav{
            border-bottom: 5px solid transparent;
        }
    }
    .white-space{
        height: 50vh;
    }
    .latest-offers{
        margin: 2em 6em;
        padding: 1.5em;
    }
    section.how-to{
        &::before{
            content: url('../images/how-to-bg.png');
            position: absolute;
            
        }
    }
    section.protection{
        &::after{
            content: url('../images/protection-bg.png');
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    section.start-investing{
        .customer-review{
            padding-left: 25px;
        }
        .testimonial-card{
            min-width: 500px !important;
        }
    }
    .buy-now, .sell-now, .gift-now, .sip-now{
        border-right: 1px solid gray;
        width: 50% !important;
    }
    .buy-now-wrapper, .sell-now-wrapper, .gift-now-wrapper, .sip-now-wrapper, .jewellery-now-wrapper, .loan-now-wrapper{
        border-radius: 10px 10px 10px 10px !important;
    }
    

}
@media(min-width: 768px){
    #tab-nav-wrapper{
        background: rgba(255, 255, 255, 0.69);
        backdrop-filter: blur(15px);
        border-radius: 10px;
    }
    
}
@media (min-width: 1280px){
    .top-navbar{
        nav{
            font-size: 1em;
        }
    }

}